## Hotel Aggregator Platform Analytics

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
import seaborn as sns

warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("hotel_aggregator_dataset.csv")
data.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,10803,https://www.airbnb.com/rooms/10803,20230904181306,2023-09-05,city scrape,Rental unit in Brunswick East · ★4.49 · 1 bedr...,A large air conditioned room with firm queen s...,This hip area is a crossroads between two grea...,https://a0.muscache.com/pictures/e5f30dd1-ac57...,38901,...,4.69,4.66,4.61,NaN,f,1,0,1,0,1.33
1,12936,https://www.airbnb.com/rooms/12936,20230904181306,2023-09-05,previous scrape,Rental unit in St Kilda · ★4.68 · 1 bedroom · ...,RIGHT IN THE HEART OF ST KILDA! It doesn't get...,A stay at our apartment means you can enjoy so...,https://a0.muscache.com/pictures/59701/2e8cdaf...,50121,...,4.83,4.78,4.66,NaN,f,10,10,0,0,0.26
2,38271,https://www.airbnb.com/rooms/38271,20230904181306,2023-09-04,city scrape,Rental unit in Berwick · ★4.86 · 3 bedrooms · ...,No children under 13 will be accepted in your ...,Our street is quiet & secluded but within walk...,https://a0.muscache.com/pictures/1182791/3bf4b...,164193,...,4.94,4.90,4.88,NaN,f,1,1,0,0,1.47
3,41836,https://www.airbnb.com/rooms/41836,20230904181306,2023-09-05,previous scrape,Home in Reservoir · ★4.71 · 1 bedroom · 1 bed ...,Easy to travel from and to the Airport; quiet ...,"The neighbours are quiet and friendly, please...",https://a0.muscache.com/pictures/569696dd-1ad0...,182833,...,4.83,4.39,4.69,NaN,f,2,0,2,0,1.02
4,43429,https://www.airbnb.com/rooms/43429,20230904181306,2023-09-04,city scrape,Rental unit in Oakleigh East · ★4.87 · 1 bedro...,NaN,Oakleigh is one of the most convenient and div...,https://a0.muscache.com/pictures/8c6284de-36de...,189684,...,4.93,4.79,4.86,NaN,f,3,3,0,0,1.60

In [4]:
data.drop(['listing_url','listing_url','scrape_id','source','name','description','neighborhood_overview','picture_url','host_url','host_location','host_about','host_thumbnail_url','host_picture_url','neighbourhood','neighbourhood_group_cleansed','amenities','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','calendar_updated','availability_60','availability_90','availability_365','calendar_last_scraped','host_neighbourhood','number_of_reviews_l30d','first_review','last_review','review_scores_accuracy','review_scores_value','license','calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms','bathrooms'],inplace=True,axis=1)

data.head()

,id,last_scraped,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,availability_30,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month
0,10803,2023-09-05,38901,Lindsay,2009-09-16,within a few hours,100%,95%,f,1.0,...,4,173,21,4.49,3.98,4.72,4.69,4.66,f,1.33
1,12936,2023-09-05,50121,The A2C Team,2009-10-31,NaN,NaN,NaN,f,10.0,...,0,42,0,4.68,4.71,4.83,4.83,4.78,f,0.26
2,38271,2023-09-04,164193,Daryl & Dee,2010-07-12,within an hour,100%,91%,t,1.0,...,18,228,36,4.86,4.98,4.91,4.94,4.90,f,1.47
3,41836,2023-09-05,182833,Diana,2010-07-27,NaN,NaN,NaN,f,3.0,...,0,159,0,4.71,4.65,4.89,4.83,4.39,f,1.02
4,43429,2023-09-04,189684,Allan,2010-08-03,within an hour,100%,99%,t,5.0,...,26,248,19,4.87,4.93,4.94,4.93,4.79,f,1.60

In [5]:
print(data.isnull().sum())

id                                0
last_scraped                      0
host_id                           0
host_name                         2
host_since                        2
host_response_time             7767
host_response_rate             7767
host_acceptance_rate           6606
host_is_superhost               717
host_listings_count               2
host_total_listings_count         2
host_verifications                0
host_has_profile_pic              2
host_identity_verified            2
neighbourhood_cleansed            0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms_text                   11
bedrooms                       6297
beds                            183
price                             0
minimum_nights                    0
maximum_nights                    0
minimum_nights_avg_ntm            0
maximum_nights_avg_ntm            0
has_availability                  0
availability_30                   0
number_of_reviews                 0
number_of_reviews_ltm             0
review_scores_rating           4510
review_scores_cleanliness      4752
review_scores_checkin          4758
review_scores_communication    4753
review_scores_location         4758
instant_bookable                  0
reviews_per_month              4510
dtype: int64

In [6]:
data.dropna(how='any',inplace=True)
data.head()

,id,last_scraped,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,availability_30,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month
2,38271,2023-09-04,164193,Daryl & Dee,2010-07-12,within an hour,100%,91%,t,1.0,...,18,228,36,4.86,4.98,4.91,4.94,4.90,f,1.47
4,43429,2023-09-04,189684,Allan,2010-08-03,within an hour,100%,99%,t,5.0,...,26,248,19,4.87,4.93,4.94,4.93,4.79,f,1.60
8,607674,2023-09-04,2558288,Alan,2012-06-05,within a few hours,100%,63%,f,2.0,...,29,19,3,4.06,4.17,4.44,4.44,4.56,f,0.16
9,1192689,2023-09-05,3117312,Eva,2012-07-31,within an hour,100%,85%,t,2.0,...,24,146,17,4.92,4.81,4.96,4.97,4.95,f,1.19
10,44082,2023-09-04,193031,Vicki,2010-08-06,within an hour,100%,97%,t,8.0,...,23,55,1,4.98,4.96,4.98,4.98,4.87,f,0.36

In [7]:
data.head()

,id,last_scraped,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,availability_30,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month
2,38271,2023-09-04,164193,Daryl & Dee,2010-07-12,within an hour,100%,91%,t,1.0,...,18,228,36,4.86,4.98,4.91,4.94,4.90,f,1.47
4,43429,2023-09-04,189684,Allan,2010-08-03,within an hour,100%,99%,t,5.0,...,26,248,19,4.87,4.93,4.94,4.93,4.79,f,1.60
8,607674,2023-09-04,2558288,Alan,2012-06-05,within a few hours,100%,63%,f,2.0,...,29,19,3,4.06,4.17,4.44,4.44,4.56,f,0.16
9,1192689,2023-09-05,3117312,Eva,2012-07-31,within an hour,100%,85%,t,2.0,...,24,146,17,4.92,4.81,4.96,4.97,4.95,f,1.19
10,44082,2023-09-04,193031,Vicki,2010-08-06,within an hour,100%,97%,t,8.0,...,23,55,1,4.98,4.96,4.98,4.98,4.87,f,0.36

In [8]:
data['host_since'] = pd.to_datetime(data['host_since'])

data.head()

,id,last_scraped,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,availability_30,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month
2,38271,2023-09-04,164193,Daryl & Dee,2010-07-12,within an hour,100%,91%,t,1.0,...,18,228,36,4.86,4.98,4.91,4.94,4.90,f,1.47
4,43429,2023-09-04,189684,Allan,2010-08-03,within an hour,100%,99%,t,5.0,...,26,248,19,4.87,4.93,4.94,4.93,4.79,f,1.60
8,607674,2023-09-04,2558288,Alan,2012-06-05,within a few hours,100%,63%,f,2.0,...,29,19,3,4.06,4.17,4.44,4.44,4.56,f,0.16
9,1192689,2023-09-05,3117312,Eva,2012-07-31,within an hour,100%,85%,t,2.0,...,24,146,17,4.92,4.81,4.96,4.97,4.95,f,1.19
10,44082,2023-09-04,193031,Vicki,2010-08-06,within an hour,100%,97%,t,8.0,...,23,55,1,4.98,4.96,4.98,4.98,4.87,f,0.36

In [9]:
import datetime

latest = datetime.datetime(2023,9,5)
data['time_on_platform'] =  latest - data['host_since']

data['time_on_platform'] =data['time_on_platform'] / np.timedelta64(1,'Y')

data['time_on_platform'] = data['time_on_platform'].round(0)

In [10]:
data

,id,last_scraped,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month,time_on_platform
2,38271,2023-09-04,164193,Daryl & Dee,2010-07-12,within an hour,100%,91%,t,1.0,...,228,36,4.86,4.98,4.91,4.94,4.90,f,1.47,13.0
4,43429,2023-09-04,189684,Allan,2010-08-03,within an hour,100%,99%,t,5.0,...,248,19,4.87,4.93,4.94,4.93,4.79,f,1.60,13.0
8,607674,2023-09-04,2558288,Alan,2012-06-05,within a few hours,100%,63%,f,2.0,...,19,3,4.06,4.17,4.44,4.44,4.56,f,0.16,11.0
9,1192689,2023-09-05,3117312,Eva,2012-07-31,within an hour,100%,85%,t,2.0,...,146,17,4.92,4.81,4.96,4.97,4.95,f,1.19,11.0
10,44082,2023-09-04,193031,Vicki,2010-08-06,within an hour,100%,97%,t,8.0,...,55,1,4.98,4.96,4.98,4.98,4.87,f,0.36,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22973,967809863256842435,2023-09-05,140649405,Victoria,2017-07-15,within an hour,100%,99%,t,11.0,...,1,1,5.00,5.00,5.00,5.00,5.00,f,1.00,6.0
22986,966960599502449625,2023-09-04,91440763,Abby,2016-08-23,within an hour,100%,100%,f,1.0,...,1,1,5.00,5.00,5.00,5.00,5.00,f,1.00,7.0
22991,965100010182141162,2023-09-05,109427969,Aminta,2017-01-02,within an hour,100%,100%,f,1.0,...,1,1,5.00,5.00,5.00,5.00,5.00,t,1.00,7.0
23076,972146542510580466,2023-09-05,406189026,Benedetta,2021-06-09,within an hour,100%,96%,f,2.0,...,1,1,5.00,5.00,5.00,5.00,5.00,f,1.00,2.0
23147,968964570435142312,2023-09-05,23082566,Michelle,2014-10-28,within an hour,100%,97%,t,6.0,...,1,1,5.00,5.00,5.00,5.00,5.00,t,1.00,9.0

In [11]:
data['host_listings_count'] = data['host_listings_count'].astype('int64',copy=False)
data['host_total_listings_count'] = data['host_total_listings_count'].astype('int64',copy=False)
data['time_on_platform'] = data['time_on_platform'].astype('int64',copy=False)

In [12]:
data.head()

,id,last_scraped,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month,time_on_platform
2,38271,2023-09-04,164193,Daryl & Dee,2010-07-12,within an hour,100%,91%,t,1,...,228,36,4.86,4.98,4.91,4.94,4.90,f,1.47,13
4,43429,2023-09-04,189684,Allan,2010-08-03,within an hour,100%,99%,t,5,...,248,19,4.87,4.93,4.94,4.93,4.79,f,1.60,13
8,607674,2023-09-04,2558288,Alan,2012-06-05,within a few hours,100%,63%,f,2,...,19,3,4.06,4.17,4.44,4.44,4.56,f,0.16,11
9,1192689,2023-09-05,3117312,Eva,2012-07-31,within an hour,100%,85%,t,2,...,146,17,4.92,4.81,4.96,4.97,4.95,f,1.19,11
10,44082,2023-09-04,193031,Vicki,2010-08-06,within an hour,100%,97%,t,8,...,55,1,4.98,4.96,4.98,4.98,4.87,f,0.36,13

In [13]:
def rem_sign(x):
    x = x.split('%')[0]
    return x

In [14]:
data['host_response_rate'] = data['host_response_rate'].apply(rem_sign)
data['host_acceptance_rate'] = data['host_acceptance_rate'].apply(rem_sign)

In [15]:
def rem_sign2(x):
    x = x.split('$')[1]
    return x

In [16]:
data['price'] = data['price'].apply(rem_sign2)

In [17]:
data.head()

,id,last_scraped,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,...,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month,time_on_platform
2,38271,2023-09-04,164193,Daryl & Dee,2010-07-12,within an hour,100,91,t,1,...,228,36,4.86,4.98,4.91,4.94,4.90,f,1.47,13
4,43429,2023-09-04,189684,Allan,2010-08-03,within an hour,100,99,t,5,...,248,19,4.87,4.93,4.94,4.93,4.79,f,1.60,13
8,607674,2023-09-04,2558288,Alan,2012-06-05,within a few hours,100,63,f,2,...,19,3,4.06,4.17,4.44,4.44,4.56,f,0.16,11
9,1192689,2023-09-05,3117312,Eva,2012-07-31,within an hour,100,85,t,2,...,146,17,4.92,4.81,4.96,4.97,4.95,f,1.19,11
10,44082,2023-09-04,193031,Vicki,2010-08-06,within an hour,100,97,t,8,...,55,1,4.98,4.96,4.98,4.98,4.87,f,0.36,13

In [18]:
data.drop(['host_since'],axis=1,inplace=True)

In [19]:
data.to_csv('hotel_aggregator.csv', sep=',', index=False, encoding='utf-8')

In [20]:
data.dtypes

id                               int64
last_scraped                    object
host_id                          int64
host_name                       object
host_response_time              object
host_response_rate              object
host_acceptance_rate            object
host_is_superhost               object
host_listings_count              int64
host_total_listings_count        int64
host_verifications              object
host_has_profile_pic            object
host_identity_verified          object
neighbourhood_cleansed          object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bathrooms_text                  object
bedrooms                       float64
beds                           float64
price                           object
minimum_nights                   int64
maximum_nights                   int64
minimum_nights_avg_ntm         float64
maximum_nights_avg_ntm         float64
has_availability                object
availability_30                  int64
number_of_reviews                int64
number_of_reviews_ltm            int64
review_scores_rating           float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
instant_bookable                object
reviews_per_month              float64
time_on_platform                 int64
dtype: object

In [21]:
def rem_comma(x):
    try:
        x = x.split(',')[0] + x.split(',')[1]
        return x
        
    except IndexError:
        return x

In [22]:
data['host_response_rate'] = data['host_response_rate'].astype('int64',copy=False)
data['host_acceptance_rate'] = data['host_acceptance_rate'].astype('int64',copy=False)


data['price'] = data['price'].apply(rem_comma)
data['price'] = data['price'].astype('float64',copy=False)

<p><p>

<u><h3>Geographical Analysis</h3><u>

In [23]:
data.columns

Index(['id', 'last_scraped', 'host_id', 'host_name', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'price', 'minimum_nights', 'maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'availability_30',
       'number_of_reviews', 'number_of_reviews_ltm', 'review_scores_rating',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'instant_bookable', 'reviews_per_month', 'time_on_platform'],
      dtype='object')

In [24]:
geo_group = data.groupby(['neighbourhood_cleansed'])

location_count = pd.DataFrame(geo_group['id'].count().reset_index())
                              
location_count = location_count.sort_values(by='id',ascending=False)

location_count.rename({'neighbourhood_cleansed':'location','id':'listings'},axis=1,inplace=True)

location_count

             location  listings
17          Melbourne      3487
23       Port Phillip      1184
29       Yarra Ranges       794
28              Yarra       701
24        Stonnington       635
21           Moreland       286
25         Whitehorse       227
2          Boroondara       205
19             Monash       205
15        Maribyrnong       187
27            Wyndham       183
8           Glen Eira       178
1             Bayside       167
12           Kingston       151
6             Darebin       149
7           Frankston       129
20      Moonee Valley       128
10        Hobsons Bay       121
4            Cardinia       101
14         Manningham        98
3            Brimbank        90
11               Hume        82
0             Banyule        82
5               Casey        80
13               Knox        67
22          Nillumbik        64
16          Maroondah        60
9   Greater Dandenong        47
18             Melton        46
26         Whittlesea        44

In [25]:
location_price = pd.DataFrame(geo_group['price'].mean().round(2).reset_index())

location_price = location_price.sort_values(by='price',ascending=False)

location_price.rename({'neighbourhood_cleansed':'location','price':'Avg_price'},axis=1,inplace=True)

location_price

             location  Avg_price
1             Bayside     368.32
29       Yarra Ranges     350.23
22          Nillumbik     283.42
14         Manningham     283.05
12           Kingston     274.28
2          Boroondara     269.28
4            Cardinia     260.44
26         Whittlesea     248.36
5               Casey     247.69
18             Melton     245.37
27            Wyndham     244.54
7           Frankston     237.20
23       Port Phillip     232.61
28              Yarra     231.44
13               Knox     228.06
0             Banyule     221.89
8           Glen Eira     220.42
19             Monash     219.01
20      Moonee Valley     218.68
11               Hume     217.06
10        Hobsons Bay     215.55
17          Melbourne     211.28
24        Stonnington     211.11
6             Darebin     201.43
15        Maribyrnong     195.90
9   Greater Dandenong     194.28
16          Maroondah     191.00
25         Whitehorse     187.40
3            Brimbank     185.69
21           Moreland     184.20

In [26]:
loc_room_grp =  data.groupby(['neighbourhood_cleansed', 'room_type'])
location_room = pd.DataFrame(loc_room_grp['room_type'].count())
location_room

                                        room_type
neighbourhood_cleansed room_type
Banyule                Entire home/apt         82
Bayside                Entire home/apt        165
                       Private room             2
Boroondara             Entire home/apt        204
                       Hotel room               1
...                                           ...
Yarra                  Entire home/apt        687
                       Private room            14
Yarra Ranges           Entire home/apt        755
                       Hotel room               5
                       Private room            34

[63 rows x 1 columns]

<p><p>

<p><p>

<u><h3> Pricing and Avalaibility Analysis</h3><u>

**Average Price by Property Type**

In [27]:
property_group = data.groupby(['property_type'])

property_avg_price = pd.DataFrame(property_group['price'].mean().round(2))

property_avg_price = property_avg_price.sort_values(by='price',ascending=False)

property_avg_price

                                      price
property_type
Holiday park                        1000.00
Tower                                496.00
Yurt                                 480.00
Entire villa                         461.91
Shipping container                   458.00
Farm stay                            400.86
Train                                400.00
Room in bed and breakfast            396.00
Entire bed and breakfast             337.80
Entire home                          333.35
Entire chalet                        331.25
Entire townhouse                     316.12
Entire vacation home                 305.35
Room in serviced apartment           280.64
Entire place                         278.73
Entire cottage                       277.21
Entire cabin                         257.24
Boat                                 254.00
Entire serviced apartment            253.26
Barn                                 245.00
Room in boutique hotel               225.07
Earthen home                         220.67
Room in aparthotel                   214.87
Entire loft                          206.63
Entire condo                         200.95
Dome                                 199.86
Hut                                  198.00
Room in hotel                        197.56
Bus                                  196.00
Entire rental unit                   195.62
Tent                                 194.80
Private room in bed and breakfast    194.25
Private room in nature lodge         185.00
Tiny home                            174.40
Entire guesthouse                    168.10
Private room in cabin                161.00
Private room in serviced apartment   149.86
Entire guest suite                   143.76
Entire bungalow                      142.28
Floor                                140.00
Private room in hostel               136.00
Private room                         123.50
Private room in guest suite          118.50
Private room in loft                 112.00
Private room in rental unit          110.06
Camper/RV                             98.80
Private room in guesthouse            98.61
Private room in condo                 94.00
Private room in home                  84.05
Private room in townhouse             79.00
Private room in villa                 70.00
Private room in camper/rv             63.00
Private room in bungalow              57.00
Private room in tent                  39.50

In [28]:
data.price.mean()

232.79675285628383

<p><p>

**Average Monthly Availability**

In [29]:
avg_availbility = pd.DataFrame(property_group['availability_30'].mean().round(2))

avg_availbility = avg_availbility.sort_values(by='availability_30',ascending=False)

avg_availbility

                                    availability_30
property_type
Holiday park                                  30.00
Private room in cabin                         30.00
Tent                                          24.60
Dome                                          24.43
Boat                                          23.50
Hut                                           23.50
Room in hotel                                 23.31
Private room in townhouse                     23.00
Train                                         23.00
Private room in serviced apartment            22.76
Private room in nature lodge                  22.50
Private room in home                          22.33
Private room in villa                         22.00
Room in boutique hotel                        21.81
Room in aparthotel                            20.20
Tower                                         20.00
Room in serviced apartment                    19.36
Entire serviced apartment                     19.23
Camper/RV                                     18.60
Private room in guesthouse                    18.13
Entire vacation home                          17.25
Entire villa                                  17.16
Entire place                                  16.73
Private room in hostel                        16.61
Farm stay                                     16.50
Earthen home                                  16.50
Private room                                  16.50
Barn                                          16.40
Private room in rental unit                   16.00
Entire bed and breakfast                      15.60
Entire cabin                                  15.56
Entire cottage                                15.51
Tiny home                                     15.15
Entire home                                   15.15
Entire guesthouse                             14.83
Entire loft                                   14.53
Private room in loft                          13.54
Entire townhouse                              13.51
Entire rental unit                            13.31
Private room in guest suite                   13.17
Entire condo                                  12.79
Room in bed and breakfast                     12.50
Entire guest suite                            12.33
Private room in bungalow                      12.00
Shipping container                            12.00
Entire chalet                                 10.50
Bus                                           10.00
Private room in bed and breakfast              8.50
Entire bungalow                                8.42
Floor                                          8.00
Yurt                                           6.00
Private room in condo                          4.50
Private room in tent                           0.00
Private room in camper/rv                      0.00

<p><p>

<p><p>

**Average Prices by Room Type**

In [30]:
room_group = data.groupby(['room_type'])

room_group_count = pd.DataFrame(room_group['price'].mean().round(2))

room_group_count

                  price
room_type
Entire home/apt  235.05
Hotel room       295.80
Private room     145.01

<p><p>

**Average Monthly Availability by Room Type**

In [31]:
room_availbility = pd.DataFrame(room_group['availability_30'].mean().round(2))

room_availbility = room_availbility.sort_values(by='availability_30',ascending=False)

room_availbility

                 availability_30
room_type
Private room               19.88
Hotel room                 17.60
Entire home/apt            14.05

<p><p>

<p><p>

<u><h3> Host Performance Analysis</h3><u>

**Distribution of Host**

In [32]:
super_host_group = data.groupby(['host_is_superhost'])

super_host_count = pd.DataFrame(super_host_group ['host_is_superhost'].count())

super_host_count

                   host_is_superhost
host_is_superhost
f                               5828
t                               4150

<p><p>

**Average Prices by SuperHost**

In [33]:
super_host_prices = pd.DataFrame(super_host_group ['price'].mean())

super_host_prices

                        price
host_is_superhost
f                  229.714310
t                  237.125542

<p><p>

**Average Rating by Superhost**

In [34]:
super_host_rating = pd.DataFrame(super_host_group['review_scores_rating'].mean().round(2))

super_host_rating = super_host_rating.sort_values(by='review_scores_rating',ascending=False)

super_host_rating

                   review_scores_rating
host_is_superhost
t                                  4.87
f                                  4.62

<p><p>

**Superhost Average Reviews Per month**

In [35]:
super_host_reviews = pd.DataFrame(super_host_group['reviews_per_month'].mean().round(2))

super_host_reviews = super_host_reviews.sort_values(by='reviews_per_month',ascending=False)

super_host_reviews

                   reviews_per_month
host_is_superhost
t                               2.29
f                               1.48

In [36]:
superhost_availbility = pd.DataFrame(super_host_group['availability_30'].mean().round(2))

superhost_availbility = superhost_availbility.sort_values(by='availability_30',ascending=False)

superhost_availbility

                   availability_30
host_is_superhost
f                            15.01
t                            13.13

<p><p>

**Effect of response time/rate on rating**

**Response Time**

In [37]:
resp_time_group = data.groupby(['host_response_time'])

resp_time = pd.DataFrame(resp_time_group['review_scores_rating'].mean())

resp_time

                    review_scores_rating
host_response_time
a few days or more              4.581684
within a day                    4.715168
within a few hours              4.637478
within an hour                  4.740982

<p><p>

**Effect of response time/rate on reviews**

**Response Time**

In [38]:
resp_time_reviews = pd.DataFrame(resp_time_group['reviews_per_month'].mean())

resp_time_reviews

                    reviews_per_month
host_response_time
a few days or more           0.539579
within a day                 0.733292
within a few hours           1.136520
within an hour               1.992041

<p><p>

<p><p>

<u><h3> Review Scores and Guest Satisfaction</h3><u>

**Average Rating by Property Type**

In [39]:
property_avg_rating = pd.DataFrame(property_group['review_scores_rating'].mean().round(2))

property_avg_rating = property_avg_rating.sort_values(by='review_scores_rating',ascending=False)

property_avg_rating

                                    review_scores_rating
property_type
Holiday park                                        5.00
Bus                                                 5.00
Private room in villa                               5.00
Private room in tent                                5.00
Private room in camper/rv                           5.00
Barn                                                4.98
Train                                               4.98
Tower                                               4.97
Shipping container                                  4.96
Private room in condo                               4.96
Entire bed and breakfast                            4.95
Private room in loft                                4.93
Private room in bed and breakfast                   4.93
Earthen home                                        4.92
Yurt                                                4.91
Entire chalet                                       4.91
Camper/RV                                           4.90
Boat                                                4.88
Private room in townhouse                           4.88
Tiny home                                           4.87
Floor                                               4.87
Entire cottage                                      4.86
Private room in bungalow                            4.86
Farm stay                                           4.84
Entire guest suite                                  4.84
Entire guesthouse                                   4.82
Entire loft                                         4.82
Entire bungalow                                     4.81
Private room in guest suite                         4.80
Private room in nature lodge                        4.80
Entire place                                        4.78
Entire vacation home                                4.77
Entire condo                                        4.77
Entire home                                         4.77
Entire cabin                                        4.76
Entire townhouse                                    4.76
Entire villa                                        4.75
Dome                                                4.74
Private room in guesthouse                          4.72
Entire rental unit                                  4.71
Hut                                                 4.69
Tent                                                4.60
Room in bed and breakfast                           4.55
Entire serviced apartment                           4.53
Room in aparthotel                                  4.51
Room in boutique hotel                              4.48
Private room                                        4.46
Private room in rental unit                         4.42
Private room in home                                4.42
Private room in serviced apartment                  4.38
Room in serviced apartment                          4.33
Private room in hostel                              4.33
Room in hotel                                       4.32
Private room in cabin                               4.00

<p><p>

**Average Rating by Room Type**

In [40]:
data.review_scores_cleanliness.mean()

4.702973541791933

In [41]:
data.review_scores_checkin.mean()

4.781329925836817

In [42]:
data.review_scores_communication.mean()

4.825783724193214

In [43]:
data.review_scores_location.mean()

4.847257967528558

In [44]:
data[data['review_scores_rating'] > 3.5]

,id,last_scraped,host_id,host_name,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month,time_on_platform
2,38271,2023-09-04,164193,Daryl & Dee,within an hour,100,91,t,1,1,...,228,36,4.86,4.98,4.91,4.94,4.90,f,1.47,13
4,43429,2023-09-04,189684,Allan,within an hour,100,99,t,5,37,...,248,19,4.87,4.93,4.94,4.93,4.79,f,1.60,13
8,607674,2023-09-04,2558288,Alan,within a few hours,100,63,f,2,3,...,19,3,4.06,4.17,4.44,4.44,4.56,f,0.16,11
9,1192689,2023-09-05,3117312,Eva,within an hour,100,85,t,2,5,...,146,17,4.92,4.81,4.96,4.97,4.95,f,1.19,11
10,44082,2023-09-04,193031,Vicki,within an hour,100,97,t,8,11,...,55,1,4.98,4.96,4.98,4.98,4.87,f,0.36,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22973,967809863256842435,2023-09-05,140649405,Victoria,within an hour,100,99,t,11,12,...,1,1,5.00,5.00,5.00,5.00,5.00,f,1.00,6
22986,966960599502449625,2023-09-04,91440763,Abby,within an hour,100,100,f,1,1,...,1,1,5.00,5.00,5.00,5.00,5.00,f,1.00,7
22991,965100010182141162,2023-09-05,109427969,Aminta,within an hour,100,100,f,1,1,...,1,1,5.00,5.00,5.00,5.00,5.00,t,1.00,7
23076,972146542510580466,2023-09-05,406189026,Benedetta,within an hour,100,96,f,2,2,...,1,1,5.00,5.00,5.00,5.00,5.00,f,1.00,2
23147,968964570435142312,2023-09-05,23082566,Michelle,within an hour,100,97,t,6,6,...,1,1,5.00,5.00,5.00,5.00,5.00,t,1.00,9

In [45]:
data[data['review_scores_rating'] < 3.0]

,id,last_scraped,host_id,host_name,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,...,number_of_reviews,number_of_reviews_ltm,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,instant_bookable,reviews_per_month,time_on_platform
1793,10157535,2023-09-05,37181360,Guest,within a day,100,88,f,7,128,...,1,0,2.00,4.00,4.00,1.00,4.00,f,0.04,8
5150,22109806,2023-09-04,132900083,Alexandra,a few days or more,0,0,f,1,1,...,1,0,1.00,3.00,1.00,1.00,3.00,f,0.01,6
5212,22266363,2023-09-05,137003767,Irena,within a day,100,17,f,10,10,...,2,1,2.50,3.00,3.50,3.00,5.00,f,0.14,6
6328,26065996,2023-09-05,151460885,Quest,within an hour,100,88,f,3,4,...,2,1,1.50,2.50,2.50,1.50,3.50,f,0.06,6
6611,26639647,2023-09-05,95641308,MinJie,within a few hours,100,100,f,3,3,...,1,1,2.00,4.00,3.00,2.00,3.00,t,0.10,7
7737,31290453,2023-09-05,70793555,Fiona,within an hour,93,62,f,24,26,...,1,0,2.00,3.00,3.00,3.00,3.00,t,0.02,7
10223,41417564,2023-09-05,41956890,Donna,within a few hours,100,65,f,3,5,...,2,0,1.00,1.00,2.00,4.00,4.00,f,0.05,8
10853,43089685,2023-09-05,342850329,Quest Docklands,within a few hours,75,92,f,5,5,...,1,0,1.00,2.00,3.00,2.00,3.00,f,0.03,3
11093,43961636,2023-09-05,312678151,Stays,within a few hours,84,32,f,12,16,...,2,0,2.00,2.00,5.00,5.00,5.00,f,0.07,4
11421,47059720,2023-09-05,16970146,ACD Apartments,within an hour,100,97,f,6,6,...,1,0,1.00,1.00,1.00,2.00,4.00,f,0.07,9
11775,48985376,2023-09-05,392306676,Rodelia,within a few hours,89,70,f,69,81,...,12,5,2.83,3.17,3.75,2.75,4.17,f,0.46,2
11780,48985987,2023-09-05,392306676,Rodelia,within a few hours,89,70,f,69,81,...,13,8,2.85,3.00,3.23,2.85,4.15,f,0.44,2
12102,50424677,2023-09-05,310343216,Kylee,within a few hours,91,50,f,23,27,...,1,0,2.00,3.00,3.00,1.00,3.00,f,0.06,4
12444,52290376,2023-09-05,392306676,Rodelia,within a few hours,89,70,f,69,81,...,8,3,2.00,1.88,2.38,2.13,3.13,f,0.48,2
13635,586548850730813886,2023-09-05,87566872,Melbstays,within a few hours,100,94,f,24,72,...,1,1,2.00,4.00,3.00,3.00,5.00,t,1.00,7
13767,597615726230182572,2023-09-05,452153860,Carric,within an hour,80,99,f,5,5,...,3,2,2.33,2.33,3.33,3.67,3.33,t,0.18,1
13874,595946080610929801,2023-09-05,355822580,Tim,a few days or more,0,0,f,1,1,...,1,0,1.00,1.00,3.00,1.00,4.00,f,0.06,3
14938,680026370945267346,2023-09-05,437212914,Southbank,within an hour,100,96,f,9,16,...,1,1,2.00,4.00,5.00,5.00,5.00,t,0.32,2
14994,686040684436494917,2023-09-04,107487271,Selina,within an hour,100,89,f,8,9,...,1,1,2.00,1.00,4.00,4.00,3.00,f,0.09,7
16150,740893635285996236,2023-09-05,103638895,Julie,a few days or more,0,86,f,2,14,...,3,3,2.00,2.33,2.00,2.00,2.33,f,0.32,7
17101,778120566668523254,2023-09-04,163554327,Steven,within an hour,100,99,f,12,21,...,3,3,2.33,2.00,3.00,2.33,4.00,t,0.36,6
17251,780755893134541142,2023-09-05,486851435,Yishi,within an hour,100,67,f,3,3,...,2,2,2.00,2.00,4.50,2.50,4.00,f,0.35,1
17356,785860806329583273,2023-09-04,492094969,Emad,within an hour,100,87,f,7,9,...,2,2,2.00,2.50,2.50,2.50,2.50,t,0.26,1
17427,787916432812321531,2023-09-04,492094969,Emad,within an hour,100,87,f,7,9,...,2,2,2.50,3.00,3.00,3.00,2.50,t,0.24,1
17455,788177557046168926,2023-09-05,383874350,Pavan,within an hour,100,100,f,1,1,...,2,2,2.50,2.00,4.50,2.50,3.50,t,0.71,3
17597,796576081569278884,2023-09-05,494185421,Nicola,within a day,50,41,f,8,10,...,4,4,2.75,2.50,3.50,3.00,4.00,f,0.53,1
18300,820581572912957680,2023-09-05,87566872,Melbstays,within a few hours,100,94,f,24,72,...,1,1,1.00,2.00,2.00,2.00,2.00,f,0.15,7
18305,822649710652649445,2023-09-05,68749128,City,within an hour,100,95,f,18,23,...,1,1,1.00,2.00,5.00,1.00,2.00,f,0.35,7
19549,867549564252033262,2023-09-05,40455436,S&S,within an hour,84,82,f,34,37,...,5,5,2.80,3.80,2.80,3.20,4.40,t,1.09,8
20001,882966751077254736,2023-09-05,38814953,Maddy,within a few hours,88,71,f,67,79,...,1,1,1.00,2.00,4.00,1.00,4.00,f,0.71,8
20081,882230385710863406,2023-09-05,392306676,Rodelia,within a few hours,89,70,f,69,81,...,1,1,1.00,2.00,2.00,1.00,5.00,f,0.63,2
20099,882281808979926724,2023-09-05,38814953,Maddy,within a few hours,88,71,f,67,79,...,2,2,2.00,3.50,1.50,1.00,3.50,f,0.67,8
20155,884389554976108400,2023-09-04,482857835,Joe,within an hour,100,99,f,19,32,...,4,4,2.50,3.00,3.25,3.25,4.50,f,1.05,1
20157,884411507953287576,2023-09-05,38814953,Maddy,within a few hours,88,71,f,67,79,...,2,2,2.50,2.50,2.50,2.00,2.50,f,0.52,8
20162,881422308999811767,2023-09-05,38814953,Maddy,within a few hours,88,71,f,67,79,...,2,2,2.50,3.00,3.50,2.50,3.50,f,0.62,8
20247,888817927577487329,2023-09-05,38814953,Maddy,within a few hours,88,71,f,67,79,...,1,1,1.00,1.00,1.00,1.00,1.00,f,0.67,8
20442,892284094835419142,2023-09-05,392306676,Rodelia,within a few hours,89,70,f,69,81,...,2,2,1.50,2.50,2.00,3.00,2.50,f,0.71,2
20460,892336117087215193,2023-09-05,392306676,Rodelia,within a few hours,89,70,f,69,81,...,3,3,2.00,2.00,2.67,2.00,2.67,f,0.96,2
20500,896686731870868479,2023-09-05,392306676,Rodelia,within a few hours,89,70,f,69,81,...,1,1,1.00,1.00,1.00,1.00,1.00,f,0.35,2
20516,896710967882657980,2023-09-05,392306676,Rodelia,within a few hours,89,70,f,69,81,...,3,3,2.67,4.33,3.33,2.67,4.00,f,1.48,2
20632,898708549650243762,2023-09-05,9198367,Nest-Apartments,within an hour,96,97,f,32,45,...,2,2,2.50,3.50,2.00,1.50,5.00,f,0.61,10
20802,903596344889678005,2023-09-05,517367378,Mandy,within an hour,98,100,f,7,7,...,2,2,2.00,1.00,3.00,1.50,3.00,f,0.82,0
20804,900854938435732617,2023-09-04,504042090,Lily,within an hour,100,94,f,9,10,...,1,1,2.00,2.00,5.00,3.00,3.00,t,0.68,1
20834,902894919459567790,2023-09-05,517367378,Mandy,within an hour,98,100,f,7,7,...,1,1,1.00,3.00,1.00,1.00,5.00,f,0.43,0
21146,913342617445406475,2023-09-05,455239252,Kiran Preet,within an hour,100,100,f,1,1,...,1,1,1.00,1.00,1.00,1.00,1.00,t,0.44,1
21439,922763878884118514,2023-09-05,74066800,Nicky,within an hour,98,84,t,64,90,...,1,1,2.00,5.00,2.00,1.00,5.00,f,0.52,7
21673,929192038603656939,2023-09-05,343442154,Advante Homes,within an hour,100,88,f,185,659,...,2,2,2.50,2.00,3.00,3.00,4.50,f,1.22,3
21703,929321179442266078,2023-09-05,90729398,Flexistayz,within a few hours,98,36,f,329,348,...,1,1,2.00,2.00,4.00,3.00,4.00,f,1.00,7
21846,932863057517167760,2023-09-04,45356831,Domi,within an hour,99,98,f,58,153,...,1,1,2.00,3.00,4.00,3.00,4.00,t,0.91,8
22057,941038157992435792,2023-09-05,489210039,Bing Xiu,within an hour,99,100,f,7,11,...,2,2,2.00,3.50,1.00,1.50,4.00,f,1.54,1
22085,941638813373876210,2023-09-04,33702408,Natashia,within a few hours,93,64,f,2,4,...,1,1,1.00,1.00,1.00,2.00,1.00,f,1.00,8
22139,944497456771685976,2023-09-05,343442154,Advante Homes,within an hour,100,88,f,185,659,...,1,1,2.00,4.00,3.00,3.00,3.00,f,1.00,3
22200,943648539842611290,2023-09-04,4722831,Yuri,within an hour,100,75,f,1,2,...,1,1,2.00,4.00,5.00,5.00,5.00,t,1.00,11
22258,944010798542249034,2023-09-05,199597231,Cindy,within an hour,100,100,f,11,11,...,1,1,2.00,5.00,3.00,3.00,3.00,f,0.94,5
22273,945902650330052681,2023-09-05,122949032,Himanshu,within an hour,95,91,f,1,1,...,1,1,1.00,1.00,1.00,1.00,1.00,f,1.00,6
22437,950230205803690064,2023-09-05,478889842,Alice,within an hour,89,100,f,9,11,...,1,1,1.00,3.00,1.00,1.00,4.00,t,1.00,1

<p><p>

<p>

<u><h3> Property Type and Room Analysis </h3><u>

**Listings by Property Type**

In [46]:
property_type_count = pd.DataFrame(property_group['property_type'].count())

property_type_count = property_group.size().reset_index(name='count')

property_type_count = property_type_count.sort_values(by='count',ascending=False)

property_type_count

                         property_type  count
17                  Entire rental unit   5322
14                         Entire home   2056
10                        Entire condo    550
19                    Entire townhouse    342
18           Entire serviced apartment    327
13                   Entire guesthouse    286
12                  Entire guest suite    192
11                      Entire cottage    142
15                         Entire loft     83
21                        Entire villa     69
22                           Farm stay     64
46                       Room in hotel     59
34                Private room in home     42
50                           Tiny home     40
20                Entire vacation home     40
47          Room in serviced apartment     36
7                      Entire bungalow     36
8                         Entire cabin     34
35              Private room in hostel     33
33          Private room in guesthouse     31
39  Private room in serviced apartment     29
45              Room in boutique hotel     27
38         Private room in rental unit     17
16                        Entire place     15
43                  Room in aparthotel     15
36                Private room in loft     13
4                                 Dome      7
5                         Earthen home      6
44           Room in bed and breakfast      6
32         Private room in guest suite      6
49                                Tent      5
6             Entire bed and breakfast      5
3                            Camper/RV      5
0                                 Barn      5
27   Private room in bed and breakfast      4
9                        Entire chalet      4
31               Private room in condo      2
1                                 Boat      2
51                               Tower      2
25                                 Hut      2
26                        Private room      2
40                Private room in tent      2
37        Private room in nature lodge      2
41           Private room in townhouse      1
42               Private room in villa      1
30           Private room in camper/rv      1
28            Private room in bungalow      1
24                        Holiday park      1
23                               Floor      1
48                  Shipping container      1
29               Private room in cabin      1
2                                  Bus      1
52                               Train      1
53                                Yurt      1

<p><p>

**Average Rating by Property Type**

In [47]:
avg_prop_rating = pd.DataFrame(property_group['review_scores_rating'].mean().round(2))

avg_prop_rating = avg_prop_rating.sort_values(by='review_scores_rating',ascending=False)

avg_prop_rating

                                    review_scores_rating
property_type
Holiday park                                        5.00
Bus                                                 5.00
Private room in villa                               5.00
Private room in tent                                5.00
Private room in camper/rv                           5.00
Barn                                                4.98
Train                                               4.98
Tower                                               4.97
Shipping container                                  4.96
Private room in condo                               4.96
Entire bed and breakfast                            4.95
Private room in loft                                4.93
Private room in bed and breakfast                   4.93
Earthen home                                        4.92
Yurt                                                4.91
Entire chalet                                       4.91
Camper/RV                                           4.90
Boat                                                4.88
Private room in townhouse                           4.88
Tiny home                                           4.87
Floor                                               4.87
Entire cottage                                      4.86
Private room in bungalow                            4.86
Farm stay                                           4.84
Entire guest suite                                  4.84
Entire guesthouse                                   4.82
Entire loft                                         4.82
Entire bungalow                                     4.81
Private room in guest suite                         4.80
Private room in nature lodge                        4.80
Entire place                                        4.78
Entire vacation home                                4.77
Entire condo                                        4.77
Entire home                                         4.77
Entire cabin                                        4.76
Entire townhouse                                    4.76
Entire villa                                        4.75
Dome                                                4.74
Private room in guesthouse                          4.72
Entire rental unit                                  4.71
Hut                                                 4.69
Tent                                                4.60
Room in bed and breakfast                           4.55
Entire serviced apartment                           4.53
Room in aparthotel                                  4.51
Room in boutique hotel                              4.48
Private room                                        4.46
Private room in rental unit                         4.42
Private room in home                                4.42
Private room in serviced apartment                  4.38
Room in serviced apartment                          4.33
Private room in hostel                              4.33
Room in hotel                                       4.32
Private room in cabin                               4.00

<p><p>

**Average Monthly Reviews**

In [48]:
avg_prop_review = pd.DataFrame(property_group['reviews_per_month'].mean().round(2))

avg_prop_review = avg_prop_review.sort_values(by='reviews_per_month',ascending=False)

avg_prop_review

                                    reviews_per_month
property_type
Barn                                             4.18
Hut                                              4.12
Tiny home                                        3.84
Tent                                             3.54
Bus                                              3.42
Camper/RV                                        2.83
Entire condo                                     2.69
Farm stay                                        2.63
Private room in bungalow                         2.58
Train                                            2.57
Entire loft                                      2.35
Entire guesthouse                                2.20
Entire guest suite                               2.12
Entire bungalow                                  2.07
Private room in villa                            2.00
Entire cabin                                     1.95
Entire rental unit                               1.89
Earthen home                                     1.84
Private room in guest suite                      1.82
Room in aparthotel                               1.81
Entire cottage                                   1.80
Entire vacation home                             1.76
Entire place                                     1.74
Dome                                             1.73
Yurt                                             1.56
Entire chalet                                    1.54
Entire serviced apartment                        1.51
Entire home                                      1.50
Private room in guesthouse                       1.47
Private room in townhouse                        1.40
Entire townhouse                                 1.28
Boat                                             1.27
Private room in loft                             1.27
Shipping container                               1.25
Entire villa                                     1.20
Room in hotel                                    1.13
Private room in condo                            1.09
Holiday park                                     1.07
Private room in rental unit                      1.03
Private room in home                             1.02
Private room in serviced apartment               0.99
Room in boutique hotel                           0.90
Private room in nature lodge                     0.87
Private room in hostel                           0.56
Room in serviced apartment                       0.49
Private room in bed and breakfast                0.48
Floor                                            0.45
Entire bed and breakfast                         0.39
Private room in tent                             0.38
Tower                                            0.37
Private room                                     0.26
Private room in cabin                            0.23
Private room in camper/rv                        0.19
Room in bed and breakfast                        0.17

<p><p>

**Listings by Room Type**

In [49]:
room_type_count = pd.DataFrame(room_group['room_type'].count())

room_type_count = room_group.size().reset_index(name='count')

room_type_count = room_type_count.sort_values(by='count',ascending=False)

room_type_count

         room_type  count
0  Entire home/apt   9653
2     Private room    280
1       Hotel room     45

<p><p>

**Average Rating by Room Type**

In [50]:
avg_room_rating = pd.DataFrame(room_group['review_scores_rating'].mean().round(2))

avg_room_rating = avg_room_rating.sort_values(by='review_scores_rating',ascending=False)

avg_room_rating

                 review_scores_rating
room_type
Entire home/apt                  4.74
Private room                     4.48
Hotel room                       4.37

<p><p>

**Average Monthly Reviews by Room Type**

In [51]:
avg_room_review = pd.DataFrame(room_group['reviews_per_month'].mean().round(2))

avg_room_review = avg_room_review.sort_values(by='reviews_per_month',ascending=False)

avg_room_review

                 reviews_per_month
room_type
Entire home/apt               1.85
Private room                  1.08
Hotel room                    0.43